{
  "root": true,
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ]
  }
}